<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Commander Main Page
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/index.css">
    <style>
        div.circle:nth-child(1), div.circle:nth-child(2) {
            border-color: #000000!important;
            border-width: 3px !important;
        }
        :root {
            --text: #000;
            --bg: #fff;
        }

        body {
            font-family: monospace;
            background-color: var(--bg);
            color: var(--text);
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --text: #000;
                --bg: #414141;
            }
        }
    </style>
</head>
<body>
<div id = "root">

    <h1 style="font-weight: bold; font-family: monospace; color: #fff;" class="text-center font-bold mx-12 p-4">
        Commander Main Page
    </h1>
    <hr class="my-3">
    <div class="container">
        <div class="d-flex flex-row justify-content-between px-3 py-4 align-items-center">
            <a href='/'><i class="fas fa-chevron-left"></i></a>
            <span>SURGICAL ASSISTANT ROBOT </span>
            <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="menu-grid">
                <a href='#' onclick="close_connection()">
                    <div class="d-flex flex-column align-items-center px-12">
                        <i class="fas fa-power-off active"></i>
                        <span class="label">Power</span>
                    </div>
                </a>
                <a href='#' onclick="change_motor()">
                    <div class="d-flex flex-column align-items-center px-12">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="label">Change Motor</span>
                    </div>
                </a>
                <a href='#' onclick="change_mode()">
                    <div class="d-flex flex-column align-items-center px-12">
                        <i class="fas fa-cog"></i>
                        <span class="label">Change Mode</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="d-flex flex-row mt-4 justify-content-between px-2">
            <div class="d-flex flex-column align-items-center">
                <a href='/'>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <i class="fas fa-home p-3 home-icon"></i>
                    </div>
                    <span>Home</span>
                </a>
            </div>
            <div class="d-flex flex-column rounded-bg py-3 px-4 justify-content-center align-items-center">
                <a href='#' onclick="inc_height()">
                    <i class="fas fa-plus py-3 control-icon"></i>
                </a>
                <span class="py-3">Height</span>
                <a href='#' onclick="dec_height()">
                    <i class="fas fa-minus py-3 control-icon"></i>
                </a>
            </div>
            <div class="d-flex flex-column rounded-bg py-3 px-4 justify-content-center align-items-center">
                <a href='#' onclick="inc_degree()">
                    <i class="fas fa-plus py-3 control-icon"></i>
                </a>
                <span class="py-3">Angular Velocity</span>
                <a href='#' onclick="dec_degree()">
                    <i class="fas fa-minus py-3 control-icon"></i>
                </a>
            </div>
        </div>
         <div class="center-btns px-12 mx-12" style="position: relative; left: 15%; top:10%; ">
                <button class="btn btn-up">
                    <img src="https://www.yudiz.com/codepen/smart-remote-control/arrow-up.svg" alt="arrow">
                </button>
                <button class="btn btn-right">
                    <img src="https://www.yudiz.com/codepen/smart-remote-control/arrow-right.svg" alt="arrow">
                </button>
                <button class="btn btn-down">
                    <img src="https://www.yudiz.com/codepen/smart-remote-control/arrow-down.svg" alt="arrow">
                </button>
                <button class="btn btn-left">
                    <img src="https://www.yudiz.com/codepen/smart-remote-control/arrow-left.svg" alt="arrow">
                </button>
        </div>        
    </div>
</div>
<script>
let current_mode = "angular";
let current_motor = 1;

const close_connection = () => {
    window.location.href = '/';
};

const change_mode = () => {
    if(current_mode === "angular") {
        current_mode = "cartesian";
    } else {
        current_mode = "angular";
    }
};

const change_motor = () => {
    if(current_motor == 5)
        current_motor = 1;
    else
        current_motor++;
};

const inc_height = async () => {
    let is_succeed = await fetch_req('inc_height');    
    if(is_succeed) {
        localStorage.setItem('height', `${+localStorage.getItem('height') + 5}`);
    }
};

const dec_height = async () => {
    let is_succeed = await fetch_req('inc_height');    
    if(is_succeed) {
        localStorage.setItem('height', `${+localStorage.getItem('height') - 5}`);
    }
};

const inc_degree = async () => {
    let is_succeed = await fetch_req('inc_height'); 
    if(is_succeed) {
        localStorage.setItem('degree', `${+localStorage.getItem('degree') + 5}`);
    }
};

const dec_degree = async () => {
    let is_succeed = await fetch_req({
        cmd_name: 'set_angles',

    });    
    if(is_succeed) {
        localStorage.setItem('height', `${+localStorage.getItem('height') - 5}`);
    }
};

const fetch_req = async (data) => {
    let response = await fetch('/', {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    
    response = await response.json();
    if(data['successful' !== true])
    {
        alert("BİR SEBEPTEN ÖTÜRÜ SİSTEMDEN VERİ ALMA VE GÖNDERME YAPILAMADI LÜTFEN TEKRAR DENEYİNİZ.")
        return false;
    } else {
        return true;
    }
}

window.onload = () => {};
</script>
</body>
</html>